
html {
	box-sizing:border-box;
}


#gamecontainer {
  width: 1000px;
  height: 600px;
  background: url(images/splashscreen.png) no-repeat;
	background-size:contain;
	color: white;
	position: fixed;
}

.gamelayer {
	width: 1000px;
  height: 600px;
  position: absolute;
  display: none;
	position: fixed;
}

#gamestartscreen {
	position: absolute;
	top: 0px;
	left: 0px;
}

#gamestartscreen img {
  margin-top: 25px;
  margin-right: 30px;
	float: right;
  cursor: pointer;
}

#gamestartscreen form {
	margin-top: 25px;
	margin-left: 25px;
}

#gamestartscreen label {
	width: 100px;
  margin: 10px;
	display: inline-block;
}

#gamestartscreen input {
	width: 175px;
}

#gamestartscreen output {
	width: 75px;
	padding-left: 15px;
}

#gamescreen {
	background: url(images/table.png) no-repeat;
	background-size: contain;
}

#pot {
	width: 20%;
	top: 18%;
	left: 40%;
	color: yellow;
	text-align:center;
	position: absolute;
	font-size: 20px;
}

#messages {
	max-width: 40%;
	height: auto;
  color: yellow;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 300px;
	font-size: 20px;
	background: rgba(100,100,100,.5);
}

#dealerPuck {
	height: 30px;
	width: auto;
	position: absolute;
	top: -30px;
}

#userInput {
	position: absolute;
	display: none;
	top: 530px;
	left: 650px;
	width: 350px;
}

#userInput input {
	width: 100px;
	font-size: 16px;
}

#userInput #betSlider {
	width: 300px;
	margin: 0px;
}

#communityCards {
	width: 225px;
	height: 62px;
	position: absolute;
	top: 260px;
	left: 400px;
	display: none;
}

.card {
	width: 43px;
	height: 62px;
	background: url(images/card_spritesheet2.png) no-repeat;
  display: none;
}

.bet {
  width: 90px;
  height: 20px;
  font-size: 20px;
	color: yellow;
}


.player {
	width: 90px;
	height: 110px;
	text-align: center;
	vertical-align: bottom;
	display: inline-block;
}

.card1 {
	position: absolute;
	top: 0px;
	left: 0px;
}

.card2 {
	position: absolute;
	top: 0px;
	left: 45px;
}

.card3 {
	position: absolute;
	top: 0px;
	left: 90px;
}

.card4 {
	position: absolute;
	top: 0px;
	left: 135px;
}

.card5 {
	position: absolute;
	top: 0px;
	left: 180px;
}

.playerName {
	width: 88px;
	height: 22px;
	position: absolute;
	top: 64px;
	left: 0px;
	background: rgba(100, 100, 100, 0.2);
}

.playerName.highlight {
	background: rgba(250, 250, 0, 0.4);
}

.playerStack {
  width: 88px;
  height: 22px;
  position: absolute;
  top: 86px;
  left: 0px;
	background: rgba(100, 100, 100, 0.2);
}

#players {
	width: 1000px;
	height: 600px;
}

#player1 {
	position: fixed;
	top: 460px;
	left: 460px;
}
#player1 .bet {
	position: absolute;
	top: -50px;
}

#player2 {
	position: fixed;
	top: 440px;
	left: 260px;
}
#player2 .bet {
	position: absolute;
	top: -45px;
	left: 40px;
}

#player3 {
	position: fixed;
	top: 350px;
	left: 100px;
}
#player3 .bet {
	position: absolute;
	top: -10px;
	left: 90px;
}

#player4 {
	position: fixed;
	top: 170px;
	left: 100px;
}
#player4 .bet {
	position: absolute;
	top: 80px;
	left: 90px;
}

#player5 {
	position: fixed;
	top: 80px;
	left: 260px;
}
#player5 .bet {
	position: absolute;
	top: 120px;
	left: 40px;
}

#player6 {
	position: fixed;
	top: 80px;
	left: 670px;
}
#player6 .bet {
	position: absolute;
	top: 120px;
	left: -40px;
}

#player7 {
	position: fixed;
	top: 170px;
	left: 825px;
}
#player7 .bet {
	position: absolute;
	top: 80px;
	left: -90px;
}

#player8 {
	position: fixed;
	top: 350px;
	left: 825px;
}
#player8 .bet {
	position: absolute;
	top: -10px;
	left: -90px;
}

#player9 {
	position: fixed;
	top: 440px;
	left: 670px;
}
#player9 .bet {
	position: absolute;
	top: -45px;
	left: -50px;
}
